body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.log-list {
    float: left;
    width: 20%;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

/* 
.log-viewer {
    float: left;
    width: 75%;
    margin-left: 20px;
}

.log-entry {
    border-bottom: 1px solid #eee;
} */
.log-viewer {
    float: left;
    width: 75%;
    margin-left: 20px;
    font-family: monospace;
    /* Ensure monospace font */
}


.error {
    color: red;
    font-weight: bold;
}

.info {
    color: blue;
}

.warning {
    color: orange;
}

.critical {
    color: red;
    font-weight: bold;
}


.log-viewer span {
    display: block;
    /* Force block-level behavior */
    margin: 0;
    /* Remove all margins */
    padding: 0;
    /* Remove all padding */
    line-height: inherit;
    /* Inherit from <pre> */
    border-bottom: 1px solid #eee;
    /* Optional: subtle separator */
}